body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background: rgba(46, 87, 109, 1);
}

.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

/* Navbar */

.navbar-container {
	background: rgba(66, 112, 135, 1);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	width: 1000px;
	max-width: 90%;
	align-items: center;
	color: white;
	padding: 10px;
}

.navbar-menu-container {
	cursor: pointer;
}

.navbar-logo-container {
	display: flex;
	justify-content: center;
	font-family: 'Consolas', 'Ubuntu mono', 'monospace';
	font-size: 24pt;
	cursor: pointer;
}

.navbar-social-icons-container {
	display: flex;
	justify-content: flex-end;
	column-gap: 15px;
}

@media only screen and (min-width: 768px) {
	.navbar-menu-container, .navbar-logo-container, .navbar-social-icons-container {
		flex: 1 1 0px;
	}
}

.navbar-social-icons-container a, .navbar-menu-container a, .navbar-logo-container a {
	text-decoration: none;
	color: white;
	transition-duration: 200ms;
}

.navbar-social-icons-container a:hover, .navbar-menu-container a:hover, .navbar-logo-container a:hover {
	color: rgba(255, 255, 255, .7);
}

/* Cards */

.cards-row-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 40px;
}

.card-container {
	display: flex;
	flex-direction: column;
	background: rgba(53, 162, 180, 1);
	border-radius: 5px;
	border-top: 5px white solid;
	font-size: 24pt;
	font-family: 'Consolas', 'Ubuntu mono', 'monospace';
	text-align: center;
	color: white;
	width: 200px;
	height: 100px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 0px 4px 8px 0px rgba(33, 73, 99, 1);
	transition-duration: 200ms;
}

.card-container a {
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 768px) {
	.cards-row-container {
		width: 1000px;
		max-width: 90%;
		gap: 20px;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 40px;
		flex-wrap: wrap;
	}
	
	.card-container {
		display: flex;
		flex-direction: column;
		background: rgba(53, 162, 180, 1);
		border-radius: 5px;
		border-top: 5px white solid;
		font-size: 24pt;
		font-family: 'Consolas', 'Ubuntu mono', 'monospace';
		color: white;
		min-width: 200px;
		min-height: 100px;
		padding: 5px;
		cursor: pointer;
		box-shadow: 0px 4px 8px 0px rgba(33, 73, 99, 1);
		transition-duration: 200ms;
	}
}

.card-container:hover {
	border-top: 5px solid rgba(251, 51, 2, 1);
	transform: scale(1.02);
}

/* Classes */

.classes {
	justify-content: center;
	align-items: center;
}

/* Sections */

.section-row {
	justify-content: center;
}

.sections-col-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-container {
	/* border: 1px solid red; */
	width: 100%;
	padding-bottom: 10px;
	padding-top: 40px;
	border-bottom: 1px white solid;
	font-size: 24pt;
	font-family: 'Consolas', 'Ubuntu mono', 'monospace';
	color: white;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.sections-col-container {
		/* width: auto; */
		align-items: flex-start;
	}
	
	.section-container {
		text-align: left;
	}
	
	.section-row {
		justify-content: flex-start;
	}
}

@media only screen and (min-width: 1200px) {
	.sections-col-container {
		width: auto;
		align-items: flex-start;
	}
	
	.section-container {
		text-align: left;
	}
	
	.section-row {
		justify-content: flex-start;
	}
}

/* Generic */

.back-button {
	transition-duration: 200ms;
}

.back-button:hover {
	color: rgba(255, 255, 255, .7);
}
